<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="{:U('home/index')}">{:get_system_config("SYSTEM_NAME")}</a>
   </div>
   <div class="collapse navbar-collapse">
    <a class="btn btn-danger btn-sm navbar-right" style="margin:10px;" href="{:U('login/logout')}" >退出</a>
      <ul class="nav navbar-nav navbar-right">
        <foreach name="top_menu" item="top_menu_vo">
            <li><a href="#" url="{:U($top_menu_vo['url'])}" node="{$top_menu_vo.id}" onclick="click_top_menu(this)">{$top_menu_vo.name}</a></li>
        </foreach>
        
      </ul>

   </div>
</nav>
